<html>
<head>
	<title>添加行政区</title>
</head>
<body>
	{{if .msg}}
		{{if .reg}}
			<font color="">{{.msg}}</font>
		{{else}}
			<font color="red">{{.msg}}</font>
		{{end}}
	{{end}}
	<br>
	<form action="/" method="post">
		父级行政区：
		<button id="clear_pregion">清空父级行政区</button>
		<br />
		<input type="hidden" id="pregionid" name="pregionid" value="" />
		地名：<input type="text" id="region_name" name="region_name" value="" />&nbsp;&nbsp;&nbsp;&nbsp;
		行政代码：<input type="text" id="region_code" name="region_code" value="" />&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="submit" value="添加行政区" />
	</form>
	
</body>
</html>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript">
	$(function() {});
</script>